node_modules/

dist/
build/

.env
.env.local  
supabase_add_image_upload.sql
supabase_add_room_images.sql
supabase_drop_all.sql
supabase_fix_rooms.sql
supabase_migrate_room_images.sql
supabase_schema.sql
reset_database.sql

# Local Netlify folder
.netlify

# Exclude design and DB scripts
*.sql
erd.*
*.mmd
config.json
test_*.js
